.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    max-height: 100vh;
    height: auto;
}
.form-holder {
    background: rgb(2, 69, 136);
    width: 450px;
    max-width: 70%;
    padding: 35px 0px;
    opacity: .9;
    border-radius: 10px;
    margin-bottom: 20px;
}
.form-holder img{
    display: block;
    width: 80%;
    margin: 0px auto;
    border-radius: 20px;
    background: #222;
    padding: 10px;
}
.form-holder h2{
    padding: 10px;
    color: whitesmoke;
    text-align: center;
    font-size: 30px;
}
.form .form-group{
    width: 70%;
    margin: 20px auto;
    padding: 5px;
    position: relative;
}
.form-group input{
    width: 100%;
    padding: 10px;
    background: #222;
    border: none;
    outline: none;
    color: #fff;
    font-size: 15px;
    border-bottom: 2px solid #777;
    border-radius: 5px;
    padding-left: 40px;
}
.form-group input:focus{
    background: #333;
    border-color: #0088FF;
}