#container {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 15px;
    align-content: center;
}

.embed-video {
    position: fixed;
    z-index: 99;
    top: 35%;
    left: 35%;
    width: 25%;
    height: 25%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

li .navbar {
    border: 0px;
    width: 100%;
    height: 100%;
    padding: 0px;
    color: white;
}

.taps-font {
    text-align: justify;
    color: rgb(40, 223, 236);
}

li>img {
    width: 50px;
    height: 50px;
    justify-content: center;
    align-self: center;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    background-attachment: scroll;
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    background-attachment: scroll;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

p>img {
    max-width: 90%;
    max-height: 90%;
}

.taps-blog {
    background-color: rgb(2, 69, 136);
    opacity: .8;
    min-height: 300px;
    max-height: fit-content;
    border-radius: 2vh;
    margin-right: 70px;
    text-align: center;
    color: rgb(40, 223, 236);
    border: solid 20px rgb(109, 179, 211);
}

.taps-blog p {
    line-height: 5px;
    text-align: justify;
}

.taps-blog img {
    padding-left: 50px;
}

.logo {
    display: block;
    width: max-content;
    margin: 0px auto;
    border-radius: 20px;
    background: #222;
    padding: 10px;
}

.taps-sidebar {
    background-color: white;
    opacity: .10;
}

.seemore {
    padding-left: 500px;
}